<%= form_for @address do |f| %>
	
	<%#= f.hidden_field :target, :value => "#{account_path}#addressbook" %>
	
	<h3><%= t(:edit_shipping_address) %></h3>
 	<div id="address_book_address">
	    <%= render :partial => 'spree/addresses/form', :locals => {
	      :address_name => 'address',
	      :address_form => f,
	      :address => @address
	    } %>
  	</div>
  	<p>
  		<%= f.submit t(:update), :class => "button" %>
  	</p>
<% end %>
