<div class="sixteen columns">
<%= form_for @address, :html => { :id => 'account_form_address', :class => 'custom' }  do |f| %>
	<h3><%= t(:new_shipping_address) %></h3>
	<div class="address_book_address">
		<%= render :partial => 'spree/addresses/form', :locals => {
			:address_name => 'address',
			:address_form => f,
			:address => @address
		} %>
	</div>
	<p>
		<%= f.submit t(:create), :class => "button" %>
	</p>
<% end %>
</div>
